.App {
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.login-form {
  border: 5px solid red;
}

.login-form h1 {
  font-size: 6rem;
}

.login-form form {
  /* border: 5px solid blueviolet; */
  display: flex;
  flex-direction: column;
  /* width: 500px; */
}

.login-form form label {
  /* border: 5px solid brown; */
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  align-self: center;
}

.login-form form label input {
  width: 40rem;
  height: 5rem;
  margin-top: 10px;
  background-color: black;
  color: white;
}

.submit-btn {
  /* border: 5px solid gray; */
  margin-top: 2rem;
}

.submit-btn button {
  /* border: 5px solid rebeccapurple; */
  width: 41rem;
  height: 7rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: black;
  color: white;
}
